<ul class="nav nav-tabs" role="tablist">
  <li><%= link_to 'Import', import_export_import_path %></li>
  <li class="active"><%= link_to 'Export', import_export_export_path %></li>
</ul>

<h1>ImportExport#export</h1>
<p>Find me in app/views/import_export/export.html.erb</p>
