<!-- VLANs import based on https://github.com/bootstrap-ruby/rails-bootstrap-forms -->
<div class="row">
  <div class="col-xs-6">
    <h3>Import</h3>
    <div>
      <h5>Step 1: Download templates to get your data ready.</h5>
    </div>
    <div>
      <h5>Step 2: Select What to import, locate the CSV file & submit.</h5>
      <%= bootstrap_form_tag url: import_export_import_path do |f| %>
        <%= f.select :import_id, options_for_select(["VLANs", "IP Addresses"]) %>
        <%= f.file_field :file %>
        <%= f.submit "Import..." %>
      <% end %>
    </div>
  </div>

  <div class="col-xs-6">
    <h3>Export</h3>
  </div>
</div>

