<% user = nobody %>
<tr>
  <td><%= count %></td>
  <td><%= user.name %></td>
  <td colspan="15">---</td>
  <td><%= DepartmentsHelper.find_department_name(user.department_id) %></td>
  <td></td>
</tr>
