<% user = nobody %>
<tr>
  <td><%= count %></td>
  <td><%= user.name %></td>
  <td>---</td>
  <td>---</td>
  <td>---</td>
  <td>---</td>
  <td>---</td>
  <td>---</td>
  <td>---</td>
  <td>---</td>
  <td>---</td>
  <td>---</td>
  <td>---</td>
  <td><%= find_department_name(user.department_id) %></td>
  <td></td>
</tr>
