<h1>UsersPerspective#index</h1>
<p>Find me in app/views/users_perspective/index.html.erb</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Office phone</th>
      <th>Cell phone</th>
      <th>Email</th>
      <th>Building</th>
      <th>Storey</th>
      <th>Room</th>
      <th>Department</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |dept| %>
      <%= render partial: "users/user", collection: dept.users %>
    <% end %>
  </tbody>
</table>

