<% provide(:title, "Home") %>

<div class="row">
  <% if policy(:welcome).tip? %>
    <p><strong>Please ask the admin to get authorized! </strong></p>
  <% end %>

  <div id="sequence"></div>

  <div id="chart" style="text-align:center"></div>
  
  <div id="explanation" style="visibility:hidden">
    <p id="statistics"></p>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      loadData(gon.locale, "drawSunburst");
    });
  </script>
</div>
