<div class="row">
  <% if policy(:welcome).tip? %>
    <p><strong>Please ask the admin to get authorized! </strong></p>
  <% end %>

  <div id="main">
    <div id="sequence"></div>
    <div id="chart">
      <div id="explanation" style="visibility: hidden;">
        <span id="statistics"></span><br />
      </div>
    </div>
  </div>
  <script type="text/javascript">
    //loadData("draw_donut");
  </script>
</div>
