<!-- VLANs import based on https://github.com/bootstrap-ruby/rails-bootstrap-forms -->
<div class="row">
  <!-- The left column -->
  <div class="col-xs-6">
    <h3>To Export</h3>
    <div>
    </div>
  </div>

  <!-- The right column -->
  <div class="col-xs-6">
    <h3>Info</h3>
      <p>TODOs</p>
  </div>
</div>

